* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    color: #090909;
    font-size: 32px;
}

/* typeography */

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 0.937rem;
    font-weight: 700;
}

.featured-date {
    font-size: 0.75rem;
    font-weight: 400;
}

/* layout */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px #999;
    background-color: whitesmoke;
}

.title-wrapper {
    display: flex;
    align-items: center;

}

.thought-icon {
    filter: grayscale(100%);
    filter: brightness(0);
    width: 1.4rem;
    height: 1.4rem;
    transform: scaleX(-1) translateY(-15%);
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 0.75rem;
    font-weight: 600;
}

ul {
    display: flex;
    list-style-type: none;
    column-gap: 3vw;
}

/* main */

.content {
    padding-top: 2.4rem;
}

.content-feed {
    padding: .8rem 1.25rem 1.67rem;
}

.hero-wrapper {
    padding: 0 1rem;
}

.hero {
    background-color: black;
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 10px black, 0 0 2px black;
    margin: 0.7rem -3rem 2.125rem;
    padding: 5.4375rem 3rem 1.5625rem;
    cursor: pointer;
    font-weight: bold;
    background-color: lightgray;
    background-blend-mode: multiply;
}

.article {
    cursor: pointer;
    margin-bottom: 5px;
}

.article:last-of-type {
    margin-bottom: none;
}
.article-img {
    width: 100%;
    border-radius: 3px;
}

.article-date {
    font-size: 0.9375rem;
    margin: 0.875em 0 0.5em;
}

.article-lead-in {
    font-size: 1rem;
    line-height: 125%;
}

.view-more-btn {
    display: block;
    margin: 1.6875em auto 2.6875em;
    border: none;
    background: none;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
    outline: 0;
    color: black;
}

.view-more-btn:active, 
.view-more-btn:focus,
nav li:active,
nav li:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.view-more-btn:active,
nav li:active {
    transform: scale(.9);
    color: #999;
}

/* articles */

.clicked-article {
    margin-top: 3.1rem;
    padding: 2rem 1.25rem;
}

.clicked-article-date {
    font-size: 0.75rem;
}

.clicked-article-img {
    width: 100%;
    border-radius: 3px;
    margin-top: 0.9375rem;
}

.clicked-article-content {
    margin-top: 0.9375rem;
}

.recent-posts-wrapper {
    padding: 0 1.25em 3.5em;
}

.recent-posts-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #202020;
    color: #d7d7d7;
    padding: 2.2em 0;
}

footer p {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.8125rem;
}

.social-wrapper {
    margin-bottom: 1rem;
}

footer i {
    font-size: 2rem;
    cursor: pointer;
}
.copyright {
    font-weight: 400;
    line-height: 0.9375rem;
}

/* about me */

.portrait {
    display: block;
    margin: 5rem auto 1.625rem;
    width: 11.375rem;
    border-radius: 50%;
}

.about-me-wrapper,
.about-me-title {
    padding: 0 1.25rem;
    margin-bottom: 0.02083rem;
}

/* media queries */

@media (min-width: 1284px), screen and (orientation:landscape) {
    html,
    body {
        font-size: 16px;
    }
    
    .content-feed,
    .recent-posts {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 1.625rem;
    }

    .content-feed {
        padding: .8rem 0 1.67rem;
    }
  
    .about-me-header-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 3.3125rem;
    }
    
    .about-me-wrapper {
        margin: 0 6rem;
    }

    .portrait {
        margin: 5rem 0 1.625rem 3.3125rem;
    }
    
    .clicked-article-content {
        margin: 0.9375rem 6rem 0;
    }

    .clicked-article,
    .recent-posts-wrapper,
    .content,
    .hero-wrapper
     {
        max-width: 1500px;
    }

    .content {
        margin: 0 auto;
    }

    .clicked-article,
    .recent-posts-wrapper {
        padding: 1rem 3.125rem 0;
        margin: 3.1rem auto 0;
    }
}

@media screen and (orientation:landscape) {
    .content {
        padding: 0 3rem;
    }
}